{% extends 'base.html.twig' %}

{% block title %}Story index{% endblock %}

{% block body %}
        <h1 class="text-center">Histoires</h1>
        {% for story in stories %}
            <a class="btn button border" href=" {{ path('story_show', {'story_id': story.id, 'user_id': user.id}) }} ">
                <div>
                    <h2 class="font-weight-bold">{{ story.title }}</h2>
                    <p>{{ story.description }}</p>
                </div>
            </a>
        {% else %}
            <div>
                <p class="text-center" style="margin-top: 10%">Pas d'histoire créée</p>
            </div>
        {% endfor %}
{% endblock %}
