{% extends 'base.html.twig' %}

{% block title %}Story index{% endblock %}

{% block body %}
    <div class="container-fluid">

    <h1 class="text-center">Histoires</h1>
    <a class="nav-link text-uppercase text-expanded" href="{{ path('home') }}">Accueil</a>
    {% for story in stories %}
        <a class="card btn" href=" {{ path('story_show', {'story_id': story.id, 'user_id': user.id}) }} ">
            <div>
                <h2>{{ story.title }}</h2>
                <p>{{ story.description }}</p>
            </div>
        </a>
    {% else %}
        <tr>
            <td colspan="6">Pas d'histoire créée</td>
        </tr>
    {% endfor %}
    </div>
{% endblock %}
