@font-face {
    font-family: 'imprimerieregular';
    src: url('fonts/imprimerie-webfont.woff2') format('woff2'),
         url('fonts/imprimerie-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* @font-face {
    font-family: 'imprimeriebold';
    src: url('font/imprimerie-bold-webfont.woff2') format('woff2'),
         url('font/imprimerie-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

body {
    background-color: black;
    color: lightgrey;
    font-family: Georgia, serif;
    /* font-family: 'imprimerieregular'; */
}


h2, p {
    font-size: 170%;
}

.card {
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

h1 {
    color: white;
    font-size: 350%;
}

h3 {
    font-size: 150%;
    line-height: 130%;
}

h4 {
    font-size: 110%;
}

/* .description {
    color: red;
    font-size: 200%;
} */

    /* .btn{
        background-color: #515052;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    .btn:hover{
        background-color: #333138;
        padding: 10 px;
        border-radius: 5px;
        border: none;
    } */

