{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue dans l\'administration de DRAWER!' %}

{% block page_content %}
 <a class="btn btn-primary" href="{{ path("home") }}">Retour au site</a>
{% endblock %}
