{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue dans l\'administration de StoryDrawer!' %}

{% block page_content %}
 <a class="btn btn-primary" href="{{ path("home") }}">Retour au site</a>
 <h2 class="mt-3">Nombre total d'utilisateurs : {{usersCount}} </h2>
 <div>
    {# <h2 class="mt-3">Nombres d'utilisateurs par histoires : </h2>
    <div>
        {% for story in stories %}
            {{story.title}}
        {% endfor %}
    </div> #}
</div>
{% endblock %}
