<h4 class="border border-danger bg-danger text-center">Quelque chose n'a pas fonctionné, faites nous savoir ce que vous faisiez pour que nous y remédions</h4>
{{ include('home/index.html.twig') }}


{# 
    URL for speed show of the error template in dev mode
    http://localhost/index.php/_error/{statusCode} 
    
    #}
