{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="myCards">
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role :</th>
                <td>
                    {% if user.roles[0] == "ROLE_USER" %}
                    Lecteur
                    {% elseif user.roles[0] == "ROLE_WRITER" %}
                    Ecrivain
                    {% elseif user.roles[0] == "ROLE_MODERATOR" %}
                    Modérateur
                    {% else %}
                    Administrateur
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mb-2">

        {% if is_granted('ROLE_ADMIN') %}
        <a
        class="btn button border"
        href="{{ path('user_index') }}">
        Liste des utilisateurs
        </a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <a
        class="btn button button-warning"
        href="{{ path('user_edit', {'id': user.id}) }}"
        >
        Modifier
        </a>
        {% endif %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    {{ include('user/_delete_form.html.twig') }}
    {% endif %}
</div>

<div class="myCards">
    <div class="d-flex justify-content-center ">
        <div class="btn button button-success">
            <h2>Mon historique</h2>
        </div>
    </div>
</div>

{% endblock %}
