{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="myCards">
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role :</th>
                <td>
                    {% if user.roles[0] == "ROLE_USER" %}
                    Utilisateur
                    {% elseif user.roles[0] == "ROLE_WRITER" %}
                    Ecrivain
                    {% elseif user.roles[0] == "ROLE_MODERATOR" %}
                    Modérateur
                    {% else %}
                    Administrateur
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mb-2">

        {% if is_granted('ROLE_ADMIN') %}
        <a
        class="btn button border"
        href="{{ path('user_index') }}">
        Liste des utilisateurs
        </a>
        {% endif %}

        <a
        class="btn button button-warning"
        {% if is_granted('ROLE_ADMIN') %}
        href="{{ path('user_edit', {'id': user.id}) }}"
        {% endif %}>
        Modifier
        </a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    {{ include('user/_delete_form.html.twig') }}
    {% endif %}
    <div class="justify-content-center btn button button-success mt-5">
        <h2>Mes étapes effectuées</h2>
    </div>
</div>

{% endblock %}
